################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C971 - Mobile App Dev Copy/v17
/WGUTermTracker/.vs/WGUTermTracker
